

@{
    Layout="_Layout";

    /*
         @foreach (agendasDeEventos item in Model)

  {
    <ul>
        <li>data do evento : @item.dataEvento </li>
        <li> nome do evento : @item.evento</li>
    </ul>
     
 }
    */
}
 
  



                  <div class="row">

                <div class="col"> 
                  <h1>Agenda</h1>

                  <div>
                    <h3> festa junina</h3>

                  <p> 06/06/2022</p>
                  </div>

                  <div>
                  <h3> reuniao de moradores do bairro</h3>

                  <p>06/10/2022</p>
                  </div>


                  <div>
                 <h3> palestra do Dr chin</h3>

                  <p> 10/11/2022</p>
                  </div>


                  <div>
                  <h3> apresentação musical</h3>

                  <p> 10/15/2022</p>
                  </div>
                  
                </div>

                </div>
                   
       
    


    




